.section {
	padding: 0 60px;
}

.ui.form .ui.segment {
	width: 600px;
	margin: auto;
}

.right-align {
	text-align: right;
}

.section{
	background-size: cover;
	-webkit-background-size: cover;
}

#section0{
	background-image: url(../static/index.jpg) ;
}
.title{
	text-align:center;
	margin:auto;
	font-size:4em!important;
}
